@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Caveat Brush';
  src: url('/fonts/logo/CaveatBrush.woff2') format('woff2');
  font-display: swap;
}